@charset "UTF-8";
body{
        font-size:20px;
        background-color: aquamarine;
        font-family: Arial, Helvetica, sans-serif;
    }
h1  {
    color:blue;
    background-color: antiquewhite;
    }
p   {
    text-align:justify;
    }